<!DOCTYPE html>
<html>

<head>
    <title>Burger Eater</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../js/burgers.js"></script>
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body>
    {{{ body }}}
</body>

</html>
